body{
    margin: 0;    padding: 0;    font-family: 'Fira Sans', sans-serif;     background-color: #CDDBF6;
    color :rgb(56, 56, 56);}
ul{list-style: none;}
a{text-decoration: none;    color: rgb(56, 56, 56);}
a:hover{color: rgb(56, 56, 56);    font-weight: bold; cursor: pointer;}
a:active{color: rgb(56, 56, 56);    font-weight: 100; cursor: pointer;}


#nav-header, #nav-footer, #nav-burger{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#nav-header ul, #nav-footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
li{
    padding-left: 5px;
    padding-right: 10px;
}
h1{
    font-family: 'Changa', sans-serif;
    font-style: italic;
    font-weight: 200;
}
h2{
    font-family: 'Changa', sans-serif;
    font-weight: 700; 
    font-size: 56px;
}
h3{
    font-family: 'Changa', sans-serif;
    font-weight: 500; 
    font-size: 28px;
}
header{
    position: fixed;
    top: 0;
    width: 100vw;
    box-shadow: 0px 5px 5px rgba(134, 134, 134, 0.116);
    background-color: #CDDBF6;
    color :rgb(56, 56, 56);
}
footer{
    width: 100%;
    height: 120px;
    background-color: rgb(56, 56, 56);
    color :#e2dbd3;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#nav-footer a{
    color :#e2dbd3;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#intro{
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20vw;
    padding-right: 20vw;
}
button{
    margin-top: 40px;
    border: solid 2px;
    height: 40px;
    width: 180px;
    border-color: rgb(56, 56, 56);
    background-color: #ffffff00;
}
button:hover{
    cursor: pointer;
    background-color: rgb(56, 56, 56);
    color: #e2dbd3;
}
#menu-bars , #cross{
    font-size: 30px;
    display: none;
}
#nav-header{
    padding-right: 20px;
}
body::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: #f7f1eb;; /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(119, 119, 119); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 2px solid rgb(104, 104, 104); /* creates padding around scroll thumb */
}
#logo{
    margin-top: 8px;
    margin-left: -15px;
    font-family: 'Changa', sans-serif;
    font-weight: 700; 
}
.card{
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 175px;
    width: 80vw;
    height: 85vh;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(134, 134, 134, 0.116);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(56, 56, 56);
}
.card div{
    width: 50%;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#scrollableContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
}
figure{
    margin-bottom: 40px;
    padding: 0;
    height: 80%;
}
figcaption{
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
}
#scrollableContent::-webkit-scrollbar {
    width: 6px; /* width of the entire scrollbar */
}
  
#scrollableContent::-webkit-scrollbar-track {
    background: #cfcfcf;; /* color of the tracking area */
}
  
#scrollableContent::-webkit-scrollbar-thumb {
    background-color: rgb(164, 164, 164); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 2px solid rgb(164, 164, 164); /* creates padding around scroll thumb */
}



#cardOne{
    visibility: hidden;
}
#cardTwo{
    visibility: hidden;
}
#cardThree{
    visibility: hidden;
}
#cardFour{
    visibility: hidden;
}
#cardFive{
    visibility: hidden;
}
#cardSix{
    visibility: hidden;
}
#cardSeven{
    visibility: hidden;
}
#cardEight{
    visibility: hidden;
}
#cardNine{
    visibility: hidden;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 100px;
    margin-left: 2vw;
    margin-right: 2vw;
  }
#one {
    background-image: url('../img/dwight.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 1;
    grid-row: 1;
    opacity: 1;
}
#one:hover, #two:hover, #three:hover, #four:hover, #five:hover, #six:hover, #seven:hover, #eight:hover, #nine:hover{
    opacity: 0.6;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
#two {
    background-image: url('../img/dwight.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 2;
    grid-row: 1 / 3;
    opacity: 1;
}

#three {
    background-image: url('../img/dwight.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 3;
    grid-row: 1 / 5;
    opacity: 1;
}

#four {
    background-image: url('../img/dwight.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 1;
    grid-row: 2;
    opacity: 1;
}

#five {
    background-image: url('../img/dwight.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 2;
    grid-row: 2;
    opacity: 1;
}

#six {
    background-image: url('../img/dwight.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 3;
    grid-row: 2;
    opacity: 1;
}

#seven {
    background-image: url('../img/dwight.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 1;
    grid-row: 3;
    opacity: 1;
}

#eight {
    background-image: url('../img/dwight.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 2;
    grid-row: 3;
    opacity: 1;
}

#nine {
    background-image: url('../img/dwight.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 3;
    grid-row: 3;
    opacity: 1;
}

.wrapper div{
    height: 30vw;
    width: 30vw;
    border: solid 2px white;
    margin-top: 30px;
}
.wrapper div:hover{
    cursor: pointer;
}
.project{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  
img{
    opacity: 1;
}


@media (max-width: 400px) {
    #nav-header ul, #nav-footer ul{
        display: flex;
        flex-direction: column;
    }
    #nav-footer{
        display: flex;
        flex-direction: column;
    }
    #nav-header li, #nav-footer li{
        padding-top: 40px;
    }
    #nav-footer{
        margin-left: -250px;
    }
    #menu-bars{
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
    }
    #cross{
        position: absolute;
        top: 10px;
        right: 20px;
    }
    #nav-burger{
        display: flex;
        flex-direction: column;
        margin-right: 50px;
    }
    #nav-burger , #cross{
        display: none;
    }
    #logo{
        margin-top: -28px;
        margin-left: -28px;
    }
    header{
        padding-bottom: 0;
    }
    h2{
        font-family: 'Changa', sans-serif;
        font-weight: 700; 
        font-size: 36px;
    }
    p{
        width: 90%;
    }
    #intro{
        padding-right: 2vw;
        flex-direction: column;
        padding-left: 4vw;
    }
    footer{
        height: fit-content;
    }
    .wrapper div{
        margin-top: 5px;
    }
    .wrapper{
        margin-left: 0;
        margin-right: 0;
    }
    .card{
        position: fixed;
        z-index: 1;
        top: 20px;
        left: 8px;
        width: 95vw;
        height: 92vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 40px;
    }
    .card div{
        width: 100%;
        padding-left: 2vw;
        padding-right: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #scrollableContent {
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: auto;
        width: 80vw;
        height: 50vh;
    }
    figure{
        margin: 0px 10px 0px 0px;
        padding: 0;
    }
    #figure img{
        height: 80%;
    }
    #figure:first-child{
        margin-left: -20px;
    }
    #scrollableContent::-webkit-scrollbar {
        height: 6px; /* width of the entire scrollbar */
    }
      
    #scrollableContent::-webkit-scrollbar-track {
        background: #ffffff;; /* color of the tracking area */
    }
      
    #scrollableContent::-webkit-scrollbar-thumb {
        background-color: rgb(164, 164, 164); /* color of the scroll thumb */
        border-radius: 10px; /* roundness of the scroll thumb */
        border: 1px solid rgb(164, 164, 164); /* creates padding around scroll thumb */
    }
}